body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: "Microsoft Yahei", 微软雅黑, "Helvetica Neue", Arial, sans-serif;
}

body, .list-group-item {
    background-color: #f7f7f7;
}

.list-group-item-info {
    background-color: #d8ecf6;
}

a:hover {
    text-decoration: none;
    background-color: #337ab6;
    color: #fdfdfe;
}

.carousel > a:hover {
    background-color: transparent;
}

.navbar-default .navbar-brand {
    color: #fd7771;
    font-size: 24px;
    font-family: 幼圆, "Microsoft Yahei", 微软雅黑;
}

.navbar-default .nav > li > a {
    color: #573e7d;
}

.navbar-default .nav .dropdown-menu > li > a {
    color: #573e7d;
}

.navbar-form .btn {
    background-color: #fd8b83;
    border-color: #fd8b83;
}

#navbarSearch {
    width: 220px;
}

#toTop {
    color: #999999;
    position: fixed;
    bottom: 60px;
    right: 30px;
    cursor: pointer;
    display: none;
}

#toTop:hover {
    color: #666666;
}

.footer {
    width: 100%;
    border-top: solid 1px #e5e5e5;
    margin-top: 40px;
}

.footer .container {
    padding: 10px;
}

#dateTab > li > a:hover {
    cursor: pointer;
}

.carousel-control.myright {
    right: 0;
    left: auto;
}

.dateline {
    text-align: center;
    border-left: solid 1px #e5e5e5;
    border-right: solid 1px #e5e5e5;
}

#carousel .center-block {
    max-height: 350px;
}

#dramaTabContent {
    margin-top: 10px;
}

.reviews {
    margin-top: 20px;
}

.review {
    margin: 15px 0;
}

.review-title {
    padding: 5px;
    background-color: #d8ecf6;
}

.review-content, .review-show-content {
    padding: 5px;
    white-space: pre-line;
}

.content-pre-line {
    white-space: pre-line;
}

.version {
    padding: 5px;
}

.drama {
    padding: 10px 0;
    border-bottom: solid 1px #e5e5e5;
}

.rating-xxs {
    font-size: 1.7em;
}

.rating-user-favorite {
    font-size: 1.1em;
}

.morelink {
    padding: 0 5px;
}

.nobkg:hover {
    color: orange;
    background-color: transparent;
}

.white-link {
    color: #ffffff;
}

.order-select {
    color: #fde16d;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

.order {
    color: #e3e3e3;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

.tt-menu {
    width: 250px;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}

.bootstrap-tagsinput { width: 100%; }

.tagcloud {
    line-height: 175%;
}

.medal {
    color: #ce4646;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
