body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: "Microsoft Yahei", 微软雅黑, "Helvetica Neue", Arial, sans-serif;
}

a:hover {
    text-decoration: none;
    background-color: #337ab6;
    color: #fdfdfe;
}

.carousel > a:hover {
    background-color: transparent;
}

.navbar-default .navbar-brand {
    color: #573e7d;
}

.navbar-default .nav > li > a {
    color: #573e7d;
}

.navbar-default .nav .dropdown-menu > li > a {
    color: #573e7d;
}

#navbarSelect {
    font-size: 14px;
    margin-right: -1px;
    padding: 5px 0 6px 6px;
    border: 1px solid #ccc;
    border-right: 0;
    border-radius: 4px 0 0 4px;
}

#toTop {
    color: #999999;
    position: fixed;
    bottom: 60px;
    right: 30px;
    cursor: pointer;
    display: none;
}

#toTop:hover {
    color: #666666;
}

.footer {
    width: 100%;
    border-top: solid 1px #e5e5e5;
    margin-top: 40px;
}

.footer .container {
    padding: 10px;
}

.tab-content {
    margin-top: 10px;
}

.reviews {
    margin-top: 20px;
}

.review {
    margin: 15px 0;
}

.review-title {
    padding: 5px;
    background-color: #d8ecf6;
}

.review-content {
    padding: 5px;
    white-space: pre-line;
}

.review-footer {
    padding: 5px;
}

.review-show {
    margin-bottom: 30px;
}

.review-show-title {
    padding: 5px;
    background-color: #ecf3ec;
}

.review-show-content {
    padding: 5px;
    white-space: pre-line;
}

.content-pre-line {
    white-space: pre-line;
}

.drama {
    padding: 10px 0;
    border-bottom: solid 1px #e5e5e5;
}

.rating-xxs {
    font-size: 1.7em;
}

.rating-user-favorite {
    font-size: 1.1em;
}

.morecontent span {
    display: none;
}

.white-link {
    color: #ffffff;
}

.order-select {
    color: #fde16d;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

.order {
    color: #e3e3e3;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

.tt-menu {
    width: 250px;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}
